body{
  font:14px/1.3em 'Roboto', sans-serif;
  padding:5px;
}
#map {
position: absolute;
top: 60px;
left:20px;
right: 20px;
bottom: 20px;
z-index: 0;
-webkit-border-radius: 6px;
border-radius: 6px;
}
#title {
  font-size:68px;
  top:10px;
  margin:10px;
  position:absolute;
}
#sidebar {
  position:absolute;
  top:70px;
  right:35px;
  background:#fff;
  z-index:999;
  overflow:auto;
  opacity:0.8;
  padding:4px;
  webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-radius: 4px;
  
  }
#timeline {
  padding:0px;
  }
#timeline a {
  font-size:10px;
  text-decoration:none;
  display: none;
    padding:4px;
    margin-top:none;
  webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-radius: 4px;
  }

#timeline #controls {
  position:relative;
 // padding:10px;
}
 #timeline h2 {
 	position:absolute;
 	top:15px;
    right:15px;
    font-weight:400;
    font-size:18px;
 }
 #timeline h5{
 	  	font-weight: 300;

 }
#timeline h5 a,
#timeline #controls a {
  font-size:20px;
  color:#DC1438;
  margin:5px;
  margin-top:20px;
  display: inline-block;
  cursor: pointer;
  opacity:1;
  text-align: center;
  position: relative;
  }
  #timeline h5 a{
  	display:inline;
  	font-size: 12px;
  	font-weight: 300;
  	margin-right: auto;
  	margin-left:auto;
  }
  #timeline #controls a:hover{
  	background: #DC1438;
  	color:#fff;
  }
    #timeline #controls {
    	text-align: center;
    }
a.year-active {
  color:#DC1438;
  }
#clock {
    position:absolute;
    bottom:30px;
    left:30px;
    width:250px;
    background-color:#fff;
    opacity:0.8;
    color:#DC1438;
    z-index:5;
    height:auto;
    padding:10px;
    padding-bottom:0;
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-radius: 4px;
    display:none;
    padding-top:20px;
  }

#counter { 
    position:absolute;
    bottom:30px;
    left:30px;
    background-color:#fff;
    opacity:0.8;
    color:#DC1438;
    z-index:5;
    height:auto;
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-radius: 4px;
    display:none;
    padding:20px;
    padding-bottom:10px;
  left:auto;
right:30px;
 position:absolute;
 z-index: 6;
 font-size: 40px;
}
  #clock span {
    position:relative;
    margin-top:10px;
  }
.date-active {
  font-size:40px;
}
#counter,
#clock div {
  background: #fff
}
#clock table  {
  color:#000;
  width:100%;
  margin-top:10px;
  line-height: 12px;
  font-size: 90%;
}
.marker-popup{display:block}
#map table tr td{
line-height: 12px;
font-size: 90%;
}
.marker {
  background-color:transparent;
}
.drone-marker {
  background:rgba(220, 20, 56,0.6);
  width: 75%; 
  height: 75%;
  border-radius: 50%;
  position:absolute;
  z-index: 999;
  pointer-events:all;
  cursor: pointer;
  box-shadow: 3px;
  border:1px solid #333;
  margin-left:50%;
  margin-right:50%;
}
.marker .drone-marker:hover,
.marker .drone-marker:active {
  width: 100%; 
  height: 100%;
  position:absolute;
  background: rgb(220, 20, 56);
  border:1px   solid #fff;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
  }
.direction1,.direction2 { 
  pointer-events:all;
  height:75%;
  width:75%;
  border-radius: 50%;
  margin-left:50%;
  margin-right:50%;
}
.marker .drone-marker:hover .direction2 {
  border:1px solid #fff;
  width:200%;
  height:200%;
  //position: absolute;
  margin:-50%;
      -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.marker .drone-marker:hover .direction1 {
  border:1px solid #fff;
  width:300%;
  height:300%;
  margin:-80%;
  margin:-100%;
  position: absolute;
  background:rgba(30,30,30,.3);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  box-shadow:inset:-101px #fff;
}
#counter{
  text-align: center;
}
#max,#min {
text-align:center; 
font-size: 50px;
padding-top:5px;
}
#min { margin-right:5px;}
.minmax { 
display:block;
font-size:14px;
color:#000;
padding-bottom:0;
padding-top:10px;}
#clock #description h3{display:none;}
