/*.caption, 
.date {
  width:100%;
  display:block;
}*/
.story{
  padding:5px;
}
.story:hover{
  background-color: #eee;
}
img{max-height: 500px}
.navbar-fixed-top {
	position: fixed;
/*	padding:0px 90px 90px 90px;
*/	display:block;
}
.navbar-fixed-top:after{
	padding:100px;
}